<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>

<div class="container">
  <h2>Incidencias asignadas</h2>
  <p>Usted a recibido las siguientes incidencias:</p>                                                                                      
  <div class="table-responsive">          
  <table class="table table-hover" th:fragment="tableIncidences" id="tableIncidences">
    <thead>
      <tr>
        <th>Identificador</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Estado</th>
		<th class="col-md-1"> </th>
		<th class="col-md-1"> </th>
		<th class="col-md-1"> </th>
		<th class="col-md-1"> </th>
		<th class="col-md-1"> </th>
      </tr>
    </thead>
	<tbody>
	  <tr th:each="incidence : ${operatorIncidences}">
	    <td th:text="${incidence.identifier}"> Identificador1</td>
	    <td th:text="${incidence.name}"> Incidencia1</td>
	    <td th:text="${incidence.description}">Muy grave</td>
	    <td th:text="${incidence.status}">Estado1</td>
	    <td>
	    	<button type="button" th:id="${'updateIncidenceButton' + incidence.id}"
 				class="btn btn-info">Cambiar estado</button>
 				<script th:inline="javascript">
 				/*<![CDATA[*/
 					$(function () {
		 		 		$("#updateIncidenceButton[[${incidence.id}]]").click(function() {
		 		 				 var urlUpdate = '/incidences/update/changeStatusOn/[[${incidence.id}]]';
		 						  $("#tableUpdate").load(urlUpdate);
		 		 		});
	 				});
 		 		/*]]>*/
 				</script>
	    
	    </td>
	  </tr>
	</tbody>
  </table>
  </div>
  
  <h2>Actualizar estado</h2>                                                                                  
  <div class="table-responsive">          
  <table class="table table-hover" th:fragment="tableUpdate" id="tableUpdate">
				
				<div th:if="${updateHabilitado}">
					<p th:text="${'Cambiar el estado de la incidencia con identificador:' + selectIncidence.identifier}"></p>
					
	    			<select id="incidenceStatusCombo" name="incidenceStatusCombo">
	    	
            		<option th:each="status: ${listStatus}"
                 		th:text="${status}"/>
					</select>
	    		
	    	
	   				<button type="button" th:id="saveIncidenceButton"
 					class="btn btn-info">Guardar estado</button>
	    		</div>
 				

  </table>
  </div>

</div>

<footer th:replace="fragments/footer"/>
</body>
</html>